@{
    ViewBag.Title = "Promotions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

See Promotions 

<a href="/Promotion/Index"> Manage Promotions</a>
<a href="/Coupon/Index"> Manage Coupons</a>
